In [1]:
#import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
#columns = {
  #  'T1': 'Temperature_kitchen','RH_1':'Hum_kitchen','T2': 'Temp_L_room','RH_2':'Hum_L_room','T3': 'Temp_laundry','RH_3':'Hum_laundry',

#'T4':'Temp_office','RH_4':'Hum_office','T5':'Temp_b_room','RH_5':'Hum_b_room','T6':'Temp_outside_NS','RH_6':'Hum_outside_NS',

#'T7':'Temp_ironing_room','RH_7':'Hum_ironing_room','T8':'Temp_teenager_room','RH_8': 'Hum_teenager_room','T9':'Temp_parents_room',

#'RH_9': 'Hum_parents_room','T_out':'Temperature_outside','rv1': 'Random_variable1','rv2':'Random_variable2'
#}
#df = df.rename(columns=columns)

In [5]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [7]:
df.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [8]:
df = df.drop(['date', 'lights'],axis=1)

In [9]:
df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [10]:
# Doing MinMax scaling for Normalization
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalize_df = pd.DataFrame(scaler.fit_transform(df),columns=df.columns)
features_df = normalize_df.drop(columns=['T2'])
appliances_df = normalize_df['T6']
appliances_df.head()

0    0.381070
1    0.375443
2    0.367487
3    0.363800
4    0.361859
Name: T6, dtype: float64

In [11]:
# Using a 70-30 train-test set split with a random state of 42 (for reproducibility).
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df,appliances_df, test_size=0.3, random_state=42)

In [12]:
from sklearn import metrics
from sklearn.linear_model import LinearRegression,Ridge,Lasso
linear_model = LinearRegression()
linear_model.fit(x_train,y_train)
predicted_value_1=linear_model.predict(x_test)

In [13]:
#From the dataset, fit a linear model on the relationship between the temperature in the living room in
#Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?

In [14]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
mae_1 = mean_absolute_error(y_test,predicted_value_1)
print('MEAN ABSOLUTE ERROR USING LINEAR REG:',round(mae_1,3))

mse_1 = metrics.mean_squared_error(y_test,predicted_value_1)
print('Mean Square Error for LINEAR REG',round(mse_1,3)) 

rss_1 = np.sum(np.square(y_test - predicted_value_1))
print('RSS for LINEAR REG:',round(rss_1,3))

rmse_1 = np.sqrt(mean_squared_error(y_test,predicted_value_1))
print('RMSE for LINEAR REG:',round(rmse_1,3))

r2_score_1 =  metrics.r2_score(y_test,predicted_value_1)
print('RSQUARE for LINEAR REG :',round(r2_score_1,3))

MEAN ABSOLUTE ERROR USING LINEAR REG: 0.0
Mean Square Error for LINEAR REG 0.0
RSS for LINEAR REG: 0.0
RMSE for LINEAR REG: 0.0
RSQUARE for LINEAR REG : 1.0

In [15]:
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train,y_train)
predicted_value_2 = ridge_reg.predict(x_test)

In [16]:
mae_2 = mean_absolute_error(y_test,predicted_value_2)
print('MEAN ABSOLUTE ERROR USING RIDGE:', mae_2)

mse_2 = metrics.mean_squared_error(y_test,predicted_value_2)
print('Mean Square Error for RIDGE',mse_2) 

rss_2 = np.sum(np.square(y_test - predicted_value_2))
print('RSS for RIDGE:',rss_2)

rmse_2 = np.sqrt(mean_squared_error(y_test,predicted_value_2))
print('RMSE for RIDGE:',rmse_2)

r2_score_2 =  metrics.r2_score(y_test,predicted_value_2)
print('RSQUARE for  RIDGE :',r2_score_2)

MEAN ABSOLUTE ERROR USING RIDGE: 0.0006748632260147354
Mean Square Error for RIDGE 7.652360524364167e-07
RSS for RIDGE: 0.004530962666476023
RMSE for RIDGE: 0.0008747777160149981
RSQUARE for  RIDGE : 0.9999755193072525

In [17]:
ridge_reg = Ridge(alpha=5)
ridge_reg.fit(x_train,y_train)
predicted_value_2 = ridge_reg.predict(x_test)

In [18]:
mae_2 = mean_absolute_error(y_test,predicted_value_2)
print('MEAN ABSOLUTE ERROR USING RIDGE:', mae_2)

rss_2 = np.sum(np.square(y_test - predicted_value_2))
print('RSS for RIDGE:',rss_2)

mse_2 = metrics.mean_squared_error(y_test,predicted_value_2)
print('Mean Square Error for RIDGE',mse_2) 

rmse_2 = np.sqrt(mean_squared_error(y_test,predicted_value_2))
print('RMSE for RIDGE:',rmse_2)

r2_score_2 =  metrics.r2_score(y_test,predicted_value_2)
print('RSQUARE for  RIDGE :',r2_score_2)

MEAN ABSOLUTE ERROR USING RIDGE: 0.005791551389630687
RSS for RIDGE: 0.3309184655817293
Mean Square Error for RIDGE 5.588894875556989e-05
RMSE for RIDGE: 0.0074758911679859204
RSQUARE for  RIDGE : 0.9982120547272837

In [19]:
lasso_reg = Lasso(alpha=0.001) 
lasso_reg.fit(x_train, y_train)
predicted_value_3 = lasso_reg.predict(x_test)

In [20]:
mae_3 = mean_absolute_error(y_test,predicted_value_3)
print('MEAN ABSOLUTE ERROR USING RIDGE:', mae_3)

rss_3 = np.sum(np.square(y_test - predicted_value_3))
print('RSS for LASSO:',rss_3)

mse_3 = mean_squared_error(y_test,predicted_value_3)
print('Mean Square Error for LASSO',mse_3) 

rmse_3 = np.sqrt(mean_squared_error(y_test,predicted_value_3))
print('RMSE for LASSO:',rmse_3)

r2_score_3 =  metrics.r2_score(y_test,predicted_value_3)
print('RSQUARE for  LASSO :',r2_score_3)

MEAN ABSOLUTE ERROR USING RIDGE: 0.004434777006345382
RSS for LASSO: 0.19160886210957537
Mean Square Error for LASSO 3.236089547535473e-05
RMSE for LASSO: 0.005688663768878833
RSQUARE for  LASSO : 0.9989647414851355

In [21]:
#comparing the effects of regularisation 
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index() 
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [22]:
linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight') 
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

In [23]:
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features') 
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0        RH_out        -7.701798e-16     -0.022383     -0.000000
1          RH_4        -7.321481e-16      0.020862      0.000000
2          RH_7        -5.808749e-16      0.004696      0.000000
3         T_out        -5.453496e-16      0.125284      0.000000
4            T8        -4.611926e-16     -0.013974      0.000000
5     Windspeed        -2.932206e-16     -0.003518      0.000000
6            T9        -2.845931e-16      0.024993      0.000000
7   Press_mm_hg        -2.486582e-16     -0.005909     -0.000000
8          RH_3        -2.155553e-16     -0.007388      0.000000
9            T4        -1.222327e-16      0.001321      0.000000
10          rv1        -1.184753e-16     -0.000010     -0.000000
11           T7        -8.833803e-17     -0.012182      0.000000
12         RH_5        -6.209357e-17     -0.001310     -0.000000
13    Tdewpoint         1.889825e-17      0.056606      0.000000
14   Visibility         4.434031e-17      0.000591     -0.000000
15           T5         5.714656e-17     -0.011000      0.000000
16           T1         8.765721e-17     -0.008206      0.000000
17         RH_8         9.674904e-17     -0.010771      0.000000
18         RH_9         1.076512e-16      0.004337      0.000000
19          rv2         1.590805e-16     -0.000010     -0.000000
20           T3         2.206807e-16      0.002905      0.000000
21         RH_6         2.248531e-16     -0.022011     -0.003659
22   Appliances         3.080535e-16      0.005225      0.000000
23         RH_2         3.492890e-16     -0.051469      0.000000
24         RH_1         6.158883e-16      0.028946      0.000000
25           T6         1.000000e+00      0.778315      0.963850